{% extends 'base.html' %}

{% block content %}
    <h1>Contact us</h1>
    <a href="{% url 'home:landing' %}">Home</a>

    <form action="{% url 'home:contact_us' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-row form-label">
                {{ field.label_tag}}
            </div>
            <div class="form-row form-input">
                {{ field }}
            </div>
        {% endfor %}

        <input type="submit" value="Send">
    </form>

    {% if request_received %}
        <p>Thank you for your message</p>
    {% endif %}

{% endblock content %}