{% extends 'blog/blog_list.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb blog_post.title 'blog:post' %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="blog">
        {% if not blog_post.is_published %}
            <h1 class="blog--title blog--draft">DRAFT</h1>
        {% endif %}

        <h1 class="page--title">{{ blog_post.title }}</h1>
        <div class="blog--content">
            {{ blog_post.content|safe }}
        </div>
    </div>

{% endblock content %}