{% extends 'blog/blog_list.html' %}
{% load django_bootstrap_breadcrumbs static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
{% endblock styles %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb blog_post.title 'blog:post' %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="blog">
        {% if not blog_post.is_published %}
            <h1 class="content__title blog__draft-title">DRAFT</h1>
        {% endif %}

        <h1 class="content__title">{{ blog_post.title }}</h1>
        <div>
            {{ blog_post.content|safe }}
        </div>
    </div>

{% endblock content %}