{% extends 'base.html' %}

{% block title %}
    {{ page.title|safe }}
{% endblock title %}

{% block breadcrumbs %}
    {# static pages have no url.py #}
    {# so breadcrumbs need to be defined explicitly #}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'home:landing' %}">Home</a>
            <span class="divider">/</span>
        </li>
        <li>
            {{ page.title }}
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ page.title|safe }}</h1>
    {{ page.content|safe }}
{% endblock content %}