{% load static django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
       {% block title %}
            Negative to Positive
        {% endblock title %}
    </title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
    {% endblock styles %}
</head>
<body class="body">
    {% block navigation %}
        {% include 'common/navigation.html' %}
    {% endblock navigation %}

    {% block breadcrumbs %}
        <div class="bread_crumbs">
            {% include 'common/breadcrumbs.html' %}
        </div>
    {% endblock breadcrumbs %}

    {% render_breadcrumbs %}

    <div class="content">
        {% block content %}
            <h1>CONTENT HERE</h1>
        {% endblock content %}
    </div>

</body>
</html>